*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*.orig
/nbproject/private/
Code/WebSite/application/config/config.php
Code/WebSite/application/config/database.php